h2{
    text-align: center;
}

.content {
    width: 400px;
    height: 40px;
    margin: 20px auto;
}

.input1 {
    margin-bottom: 20px;
    width: 400px;
    height: 40px;
}

.btn1 {
    float: right;
}

.content li {
    line-height: 40px;
}