.content {
    width: 400px;
    height: 40px;
    margin: 20px auto;
}

.content input {
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
}

.content button {
    height: 40px;
    width: 80px;
}